.img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.singleBooking{
  
  border-radius: 15px;
  background-color: white;
  color: navy;
  padding: 20px;
}
p {
    color: rgb(75, 73, 73);
}

@media screen and (max-width: 480px) {
  .singleBooking{
    width: 100vw;
  }
  .img{
    width: 60vw;
    height: 100px;
    border-radius: 10px;
}
}
