@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=Poppins&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}
:root {
  --orange-color : goldenrod;
  --light-orange :  rgb(230, 230, 126);
  --nude-color: #DED7B1;
  --green-color: lightgreen;
}
p{
  font-family: 'Roboto';
  color: darkgray;
  line-height: 1.5rem;
}